function Snake.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 8
pop this 5
push constant 100
pop this 1
push constant 125
pop this 2
push this 1
pop this 3
push this 2
pop this 4
push constant 20
call Array.new 1
pop this 0
push pointer 0
return
function Snake.erase 1
push argument 0
pop pointer 0
push argument 1
push constant 2
call Math.multiply 2
pop local 0
push constant 0
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 20
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push local 0
push constant 1
add
push this 0
add
pop pointer 1
push that 0
push local 0
push this 0
add
pop pointer 1
push that 0
push this 5
add
push local 0
push constant 1
add
push this 0
add
pop pointer 1
push that 0
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.move 0
push argument 0
pop pointer 0
push argument 2
push constant 1
eq
push this 4
push constant 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push this 5
sub
pop this 4
label IF_FALSE0
push argument 2
push constant 2
eq
push this 4
push this 5
add
push constant 255
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push this 5
add
pop this 4
label IF_FALSE1
push argument 2
push constant 3
eq
push this 3
push constant 1
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push this 5
sub
pop this 3
label IF_FALSE2
push argument 2
push constant 4
eq
push this 3
push this 5
add
push constant 511
lt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push this 5
add
pop this 3
label IF_FALSE3
push pointer 0
push this 3
push this 4
call Snake.updatePos 3
pop temp 0
push constant 0
return
function Snake.updatePos 1
push argument 0
pop pointer 0
push constant 18
pop local 0
label WHILE_EXP0
push local 0
push constant 1
gt
not
if-goto WHILE_END0
push local 0
push this 0
add
push local 0
push constant 2
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push this 0
add
push local 0
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 2
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
push this 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Snake.draw 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push argument 1
push constant 2
call Math.multiply 2
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push local 0
push constant 1
add
push this 0
add
pop pointer 1
push that 0
push local 0
push this 0
add
pop pointer 1
push that 0
push this 5
add
push local 0
push constant 1
add
push this 0
add
pop pointer 1
push that 0
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.checkWallCollision 0
push argument 0
pop pointer 0
push this 3
push constant 2
lt
push this 3
push this 5
add
push constant 510
gt
or
push this 4
push constant 2
lt
or
push this 4
push this 5
add
push constant 254
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Snake.checkSnakeCollision 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
push constant 2
pop local 2
label WHILE_EXP0
push local 2
push argument 1
push constant 2
call Math.multiply 2
lt
not
if-goto WHILE_END0
push this 3
push local 2
push this 0
add
pop pointer 1
push that 0
push this 5
add
lt
push this 3
push this 5
add
push local 2
push this 0
add
pop pointer 1
push that 0
gt
and
pop local 0
push this 4
push local 2
push constant 1
add
push this 0
add
pop pointer 1
push that 0
push this 5
add
lt
push this 4
push this 5
add
push local 2
push constant 1
add
push this 0
add
pop pointer 1
push that 0
gt
and
pop local 1
push local 0
push local 1
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 2
push constant 2
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.getX 0
push argument 0
pop pointer 0
push this 3
return
function Snake.getY 0
push argument 0
pop pointer 0
push this 4
return
function Snake.getSize 0
push argument 0
pop pointer 0
push this 5
return
