.vscode/tasks.json
.vscode/settings.json
.vscode
tools
/solutions
/.vs
/projects/07/project 7 solution/x64/Debug
/projects/07/project 7 solution
/CppProperties.json
/nand2tetris/x64/Debug
/x64/Debug
/nand2tetris.vcxproj.filters
/nand2tetris.vcxproj.user
